<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/styles/landing.css">
    <script src="https://kit.fontawesome.com/95e2386fb6.js" crossorigin="anonymous"></script>
    <title>Landing Page Gym</title>
</head>
<body>

<header>
    <nav class="ubuntu-condensed-regular">
        <div class="logo">LOGO</div>
        <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="/contactos">CONTÁCTANOS</a></li>
            <li><a href="/nosotros">NOSOTROS</a></li>
            <li><a href="/login">LOGIN</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="contacts">
        <h2 class="squada-one-regular">SÍGUENOS EN NUESTRAS REDES Y QUEDA AL PENDIENTE DE LAS NOVEDADES DE <span class="highlight">GAINERZ</span></h2>
        <div class="redes">
            <div class="square">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="square">
                <a href=""><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="square">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="square">
                <a href=""><i class="fa-brands fa-square-x-twitter"></i></i></a>
            </div>
        </div>
        <h2 class="ubuntu-condensed-regular">NO DUDES EN CONTACTARNOS, ESTAREMOS AL PENDIENTE</h2>
    </div>
</main>

</body>
</html>
