.content {
    margin-left: 17vw;
    padding: 20px;
    width: 100%;
    
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; /* ajusta el ancho general */
    margin-left: 12%;
}

.search-container input {
    border: 2px solid black;
    height: 4vw;
    width: 100vw;
    padding-left: 10px;
    font-size: 16px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
}


.btn{
    background-color: var(--main_color);
    color: black;
    border: 2px solid black;
    height: 4.2vw;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
    border: black;
    color: white;
}

#search-results {
    display: none;
    margin: 20px;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    width: 93%;
    
}

.account-card {
    background-color: #292929;
    color: white;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.account-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 20px rgba(255, 215, 0, 0.2); /* dorado */
}

.account-name {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffd700;
}

.account-card p {
    margin: 3px 0;
    font-size: 0.95rem;
    color: #dddddd;
}

.no-results {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 20px;
}