.content {
    margin-left: 17vw;
    padding: 20px;
    width: 100%;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.search-container input {
    border: 2px solid black;
    height: 3vw;
}


.btn{
    background-color: var(--main_color);
    color: black;
    border: 2px solid black;
    height: 3vw;
}

.btn:hover{
    background-color: black;
    border: black;
    color: white;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(128, 96, 0, 0.9);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: none;
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results ul li {
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: white;
}

.search-results ul li:last-child {
    border-bottom: none;
}

.search-results ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


@media (max-width: 965px) {
    .content {
        margin-left: 27vw;
    }

    .search-container input {
        height: 6vw;
    }
    .btn {
        height: 6vw;
    }
}