.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.register-button {
    background-color: var(--main_color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #caa70a6a;
}

.close {
    text-align: end;
    width: 100%;
}

.close a{
    color: var(--main_color);
    padding-right: 2%;
    font-size: 20px;
}

.close a:hover{
    color: #a98c0f;
}