<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAINERZ - Bandeja</title>
    <link rel="stylesheet" href="/../src/styles/navbar.css">
    <link rel="stylesheet" href="/../src/styles/bandeja.css">
    <script src="https://kit.fontawesome.com/95e2386fb6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="sidebar">
        <div class="logodiv ubuntu-condensed-regular">
            <a class="logo" href="/inicio">GAINERZ</a>
        </div>
        <div class="black pe ubuntu-condensed-regular">
            <a class="navLink" href="/perfil">PERFIL</a>
        </div>
        <div class="black ca ubuntu-condensed-regular">
            <a class="navLink" href="/calendar">CALENDARIO</a>
        </div>
        <div class="black gy ubuntu-condensed-regular">
            <a class="navLink" href="/gyms">GYMS</a>
        </div>
        <div class="black cu ubuntu-condensed-regular" style="border-bottom-right-radius: 30px;">
            <a class="navLink" href="/cuentas">CUENTAS</a>
        </div>
        <div class="black ba ubuntu-condensed-regular" style="background-color: transparent; border-top: transparent;">
            <a class="navLink" href="/bandeja">BANDEJA</a>
        </div>
        <div class="rest" style="border-top-right-radius: 30px; border-top: transparent;"></div>
    </header>
    
    <div class="content">
        <div class="header-superior">
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" data-category="all">TODO</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" data-category="request">SOLICITUDES</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" data-category="news">ANUNCIOS</a>
            </div>
        </div>
    
        <!-- Contenedor donde se agregarán las notificaciones dinámicas -->
        <div class="notifications-container squada-one-regular">

            
        </div>
    </div>

    <!-- Modal para detalles de la solicitud -->
    <div id="requestModal" class="modal">
        <div class="modal-content">
            <button id="close" class="close-btn">✖</button>
            <div class="request-info">
                <img id="img-perfil2" src="https://static.vecteezy.com/system/resources/previews/026/434/409/non_2x/default-avatar-profile-icon-social-media-user-photo-vector.jpg" alt=""><br><br>
                <p><strong>GYM:</strong> <span class="gym-name">Default</span></p>
                <p><strong>PESO:</strong> <span class="weight">80 kg</span></p>
                <p><strong>RATING:</strong> <span class="rating">⭐⭐⭐⭐⭐</span></p>
                <p><strong>ASUNTO:</strong> <span class="subject">Entrenamientos nuevos</span></p>
                <p><strong>DESCRIPCIÓN:</strong> <span class="description">Buenas tardes Lolito, te ofrezco mi asistencia.</span></p>
            </div>
            <div class="request-profile">
                <div class="profile-icon">✎</div>
            </div>
        </div>
    </div>

    <script src="../../src/scripts/router.js"></script>
    <script src="../../src/scripts/bandeja.js"></script>
    <script src="../../src/scripts/Appstorage.js"></script>
</body>
</html>
