<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAINERZ / Calendario</title>
    <link rel="stylesheet" href="../../src/styles/navbar.css">
    <script src="https://kit.fontawesome.com/95e2386fb6.js" crossorigin="anonymous"></script>
    <script src="src/scripts/router.js"></script>
</head>
<body>
    <header class="sidebar">
        <div class="logodiv ubuntu-condensed-regular">
            <a class="logo" href="/inicio">GAINERZ</a>
        </div>
        <div class="black pe ubuntu-condensed-regular" style="border-bottom-right-radius: 30px;">
            <a class="navLink" href="/perfil">PERFIL</a>
        </div>
        <div class="black ca ubuntu-condensed-regular" style="background-color: transparent; border-top: transparent;">
            <a class="navLink" href="/calendar">CALENDARIO</a>
        </div>
        <div class="black gy ubuntu-condensed-regular" style="border-top: transparent; border-top-right-radius: 30px;">
            <a class="navLink" href="/gyms">GYMS</a>
        </div>
        <div class="black cu ubuntu-condensed-regular">
            <a class="navLink" href="/cuentas">CUENTAS</a>
        </div>
        <div class="black ba ubuntu-condensed-regular">
            <a class="navLink" href="/bandeja">BANDEJA</a>
        </div>
        <div class="rest">
        <!--Pedazo sin texto de abajo-->
        </div>
    </header>
    <div class="content">
        <div class="header-superior">
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">LUNES</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">MARTES</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">MIÉRCOLES</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">JUEVES</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">VIERNES</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">SÁBADO</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">DOMINGO</a>
            </div>
        </div>
        <div class="buttons">
            <button class="rtn"><i class="fa-solid fa-circle-plus plus"></i></button>
            <div class="routine">
                <button class="rtn"><p class="rtn-name ubuntu-condensed-regular">PIERNA</p><p class="routine-text ubuntu-condensed-regular">EMPIEZA LA RUTINA DE HOY!!</p></button>
                <button class="rtn-button editar"><p class="button-text ubuntu-condensed-regular">EDITAR DÍA</p></button>
                <button class="rtn-button cambiar"><p class="button-text ubuntu-condensed-regular">CAMBIAR</p></button>
            </div>
        </div>
    </div>
    <script src="../../src/scripts/router.js"></script>
</body>
</html>