<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAINERZ / Calendario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../src/styles/navbar.css">
    <link rel="stylesheet" href="../../src/styles/calendar.css">
    <script src="https://kit.fontawesome.com/95e2386fb6.js" crossorigin="anonymous"></script>
    <script src="src/scripts/router.js"></script>
</head>
<body>
    <header class="sidebar">
        <div class="logodiv ubuntu-condensed-regular">
            <a class="logo" href="/inicio">GAINERZ</a>
        </div>
        <div class="black pe ubuntu-condensed-regular" style="border-bottom-right-radius: 30px;">
            <a class="navLink" href="/perfil">PERFIL</a>
        </div>
        <div class="black ca ubuntu-condensed-regular" style="background-color: transparent; border-top: transparent;">
            <a class="navLink" href="/calendar">CALENDARIO</a>
        </div>
        <div class="black gy ubuntu-condensed-regular" style="border-top: transparent; border-top-right-radius: 30px;">
            <a class="navLink" href="/gyms">GYMS</a>
        </div>
        <div class="black cu ubuntu-condensed-regular">
            <a class="navLink" href="/cuentas">CUENTAS</a>
        </div>
        <div class="black ba ubuntu-condensed-regular">
            <a class="navLink" href="/bandeja">BANDEJA</a>
        </div>
        <div class="rest">
        <!--Pedazo sin texto de abajo-->
        </div>
    </header>
    <div class="content">
        <div class="header-superior">
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">LUNES</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">MARTES</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">MIÉRCOLES</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">JUEVES</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">VIERNES</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">SÁBADO</a>
            </div>
            <div class="day ubuntu-condensed-regular">
                <a class="weekDay" href="#">DOMINGO</a>
            </div>
        </div>
        <div class="buttons">
            <button class="rtn"><i class="fa-solid fa-circle-plus plus"></i></button>
            <div class="routine">
                <button class="rtn"><p class="rtn-name ubuntu-condensed-regular">PIERNA</p><p class="routine-text ubuntu-condensed-regular">EMPIEZA LA RUTINA DE HOY!!</p></button>
                <button class="rtn-button editar"><p class="button-text ubuntu-condensed-regular">EDITAR DÍA</p></button>
                <button class="rtn-button cambiar"><p class="button-text ubuntu-condensed-regular">CAMBIAR</p></button>
            </div>
        </div>
    </div>
    <!--Modal de creación de rutinas-->
    <div class="crear-rutina" id="crear-rutina">
        <div class="new-rt">
            <div style="display: flex; flex-direction: row;">
                <div style="display: flex; flex-direction: column; width: 70%;">
                    <input class="title-input squada-one-regular" id="title-input" type="text" placeholder="Agrega un título a tu rutina">
                    <textarea class="desc-input ubuntu-condensed-regular" id="desc-input" type="text" placeholder="Agrega una descripción breve"></textarea>
                </div>
                <div class="dropdown ubuntu-condensed-regular">
                    <button class="btn btn-secondary dropdown-toggle menu" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Elige la sección muscular
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" id="ejs-pierna" href="#">Pierna</a></li>
                        <li><a class="dropdown-item" id="ejs-pecho" href="#">Pecho</a></li>
                        <li><a class="dropdown-item" id="ejs-espalda" href="#">Espalda</a></li>
                    </ul>
                    <div class="create">
                        <i class="fa-solid fa-circle-plus add-rt"></i>
                    </div>
                </div>
            </div>           
        </div>
        <div style="display: flex; flex-direction: row; width: 100%">
            <div class="add-ejercicios armar">
                <h1 class="squada-one-regular">Ejercicios</h1>
                <div id="rutina">
                    <!--Esto es lo qeu se clona cuando se agregan ejercicios-->
                    <div class="ejercicio-agregado">
                        <div class="series-ej">
                            <p class="ej ubuntu-condensed-regular" id="ejercicio">Press en banca</p>
                            <!--Esto es lo que se clona cuando se agregan series-->
                            <div class="datos-serie ubuntu-condensed-regular">
                                <h2 class="squada-one-regular">Serie 1</h2>
                                <p style="padding-left: 20px;">Hacer algo</p>
                                <p style="padding-left: 20px;">Irse a dormir</p>
                            </div>
                            <!--Fin-->
                        </div>
                        <div class="crear-series">
                            <p class="ubuntu-condensed-regular">Agregar serie</p>
                            <i class="fa-solid fa-circle-plus add-ej"></i>
                        </div>
                    </div>
                    <div class="ejercicio-agregado">
                        <div class="series-ej">
                            <p class="ej ubuntu-condensed-regular" id="ejercicio">Press en banca</p>
                            <!--Esto es lo que se clona cuando se agregan series-->
                            <div class="datos-serie ubuntu-condensed-regular">
                                <h2 class="squada-one-regular">Serie 1</h2>
                                <p style="padding-left: 20px;">Hacer algo</p>
                                <p style="padding-left: 20px;">Irse a dormir</p>
                            </div>
                            <!--Fin-->
                        </div>
                        <div class="crear-series">
                            <p class="ubuntu-condensed-regular">Agregar serie</p>
                            <i class="fa-solid fa-circle-plus add-ej"></i>
                        </div>
                    </div>
                    <!--Fin-->
                </div>
                
            </div>
            <div class="ejercicios armar">
                <h1 class="squada-one-regular">New Block</h1>
                <h2 class="squada-one-regular">Agregar Ejercicios:</h2>
                <input class="form-control ubuntu-condensed-regular" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                <datalist id="datalistOptions">
                    <option value="Ej1">
                    <option value="Ej2">
                    <option value="Ej3">
                    <option value="Ej4">
                    <option value="Ej5">
                </datalist>
            </div>
        </div>
        <div class="botones squada-one-regular">
            <button class="btn-rtns btn-crear" id="btn-crear">CREAR</button>
            <button class="btn-rtns btn-cancelar" id="btn-cancelar">CANCELAR</button>
        </div>
    </div>
    <script src="../../src/scripts/router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>