<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAINERZ - Cuentas</title>
    <link rel="stylesheet" href="../../src/styles/navbar.css">
    <link rel="stylesheet" href="../../src/styles/cuentas.css">
    <script src="https://kit.fontawesome.com/95e2386fb6.js" crossorigin="anonymous"></script>
    <script src="src/scripts/router.js"></script>
</head>
<body>
    <header class="sidebar">
        <div class="logodiv ubuntu-condensed-regular">
            <p>GAINERZ</p>
        </div>
        <div class="black pe ubuntu-condensed-regular">
            <a class="navLink" href="/perfil">PERFIL</a>
        </div>
        <div class="black ca ubuntu-condensed-regular">
            <a class="navLink" href="/calendar">CALENDARIO</a>
        </div>
        <div class="black gy ubuntu-condensed-regular">
            <a class="navLink" href="/gyms">GYMS</a>
        </div>
        <div class="black cu ubuntu-condensed-regular">
            <a class="navLink" href="/cuentas">CUENTAS</a>
        </div>
        <div class="black ba ubuntu-condensed-regular">
            <a class="navLink" href="/bandeja">BANDEJA</a>
        </div>
        <div class="rest"></div>
    </header>
    <div class="content">
        <div class="search-container">
            <input type="text" id="search-bar" placeholder="Buscar">
            <i class="fas fa-search"></i>
        </div>
        <div class="search-results" id="search-results">
            <ul>
                <li>Búsqueda anterior</li>
                <li>Historial</li>
                <li>Buscado recientemente</li>
                <li>Algo más</li>
            </ul>
        </div>
    </div>
    <script src="../../src/scripts/router.js"></script>
</body>
</html>
