<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAINERZ - Gyms</title>
    <link rel="stylesheet" href="../../src/styles/navbar.css">
    <link rel="stylesheet" href="../../src/styles/gyms.css">
    <script src="https://kit.fontawesome.com/95e2386fb6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="sidebar">
        <div class="logodiv ubuntu-condensed-regular">
            <a class="logo" href="/inicio">GAINERZ</a>
        </div>
        <div class="black pe ubuntu-condensed-regular">
            <a class="navLink" href="/perfil">PERFIL</a>
        </div>
        <div class="black ca ubuntu-condensed-regular" style="border-bottom-right-radius: 30px;">
            <a class="navLink" href="/calendar">CALENDARIO</a>
        </div>
        <div class="black gy ubuntu-condensed-regular" style="border-top: transparent; background-color: transparent;">
            <a class="navLink" href="/gyms">GYMS</a>
        </div>
        <div class="black cu ubuntu-condensed-regular" style="border-top: transparent; border-top-right-radius: 30px;">
            <a class="navLink" href="/cuentas">CUENTAS</a>
        </div>
        <div class="black ba ubuntu-condensed-regular">
            <a class="navLink" href="/bandeja">BANDEJA</a>
        </div>
        <div class="rest"></div>
    </header>


    <div class="content">
        <div class="search-container">
            <input type="text" id="search-bar" placeholder="Busca tu GYM">
            <i class="fas fa-search"></i>
        </div>
        <div class="search-results" id="search-results">

        </div>
    </div>
    
    <script src="../../src/scripts/search_gyms.js"></script>
    <script src="../../src/scripts/Appstorage.js"></script>
</body>
</html>
