<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAINERZ - Bandeja</title>
    <link rel="stylesheet" href="/../src/styles/navbar.css">
    <link rel="stylesheet" href="/../src/styles/inicio.css">
    <script src="https://kit.fontawesome.com/95e2386fb6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="sidebar">
        <div class="logodiv ubuntu-condensed-regular">
            <a class="logo" href="/inicio">GAINERZ</a>
        </div>
        <div class="black pe ubuntu-condensed-regular">
            <a class="navLink" href="/perfil">PERFIL</a>
        </div>
        <div class="black ca ubuntu-condensed-regular">
            <a class="navLink" href="/calendar">CALENDARIO</a>
        </div>
        <div class="black gy ubuntu-condensed-regular">
            <a class="navLink" href="/gyms">GYMS</a>
        </div>
        <div class="black cu ubuntu-condensed-regular">
            <a class="navLink" href="/cuentas">CUENTAS</a>
        </div>
        <div class="black ba ubuntu-condensed-regular">
            <a class="navLink" href="/bandeja">BANDEJA</a>
        </div>
        <div class="rest"></div>
    </header>
    <div class="content squada-one-regular">
        <h1 class="inicio-title">INICIO</h1>
        <div class="content-rutinas">
            <div class="Hoy">
                <h1 class="DiaDeHoy titlerutinas">LUNES</h1>
                <div class="rt-div">
                    <a class="rt rt1" href="/calendar">PIERNA</a>
                </div>
                <div class="add-div">
                    <a class="rt add" href="/calendar"><i class="fa-solid fa-circle-plus plus-rtn"></i></a>
                </div>
            </div>
            <div class="Rutinas-Guardadas">
                <h1 class="titlerutinas">Rutinas Guardadas</h1>
                <div class="saved-rt">
                    <a class="go-to-rutina" href="/calendar"> LUNES DE PIERNA</a>
                </div>
                <div class="add-div">
                    <a class="rt add" href="/rutinas"><i class="fa-solid fa-circle-plus plus-rtn"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script src="../../src/scripts/router.js"></script>
    <script src="../../src/scripts/bandeja.js"></script>
    <script src="../../src/scripts/Appstorage.js"></script>
</body>
</html>
